<!--<div class="container">

    Name: {{Match.Name}}

    <table>
        <tr>
            <th>
                Bookmakers
            </th>
            <th ng-repeat="Option in match.Options">
                {{Option.Name}}
            </th>
        </tr>
        <tr ng-repeat="matchOdds in match.MatchOdds">
            <td>
                {{matchOdds.BookmakerName}}
            </td>
            <td ng-repeat="odds in matchOdds.Odds">
                {{odds.Value}}
            </td>
        </tr>
        <tr>
            <td>
                <select ng-model="matchOdds.bookmakerId" ng-options="bookmaker.Id as bookmaker.Name for bookmaker in bookmakers"></select>
            </td>
            <td ng-repeat="odds in matchOdds.odds">
                <input type="Text" ng-model="odds.Value" />
            </td>
            <td>
                <input type="submit" value="Gem" ng-click="Add()" />
            </td>
        </tr>
    </table>

    
    <table>
        
    </table>
</div>-->